<div class="effect-3">
    <img src="assets/img/effect-3.svg" title="" alt="">
</div>
<div class="effect-4">
    <img src="assets/img/effect-4.svg" title="" alt="">
</div>
<div class="container">
    <div class="section-heading text-center">
        <h6><span>TEstimonial</span></h6>
        <h2>Over <span>8,000+</span> <br> PEOPLE TRUST ME</h2>
    </div>
    <owl-carousel-o [options]="customOptionsSingle">
        <ng-template carouselSlide>
            <div class="testimonial-box">
            <div class="t-user">
                <img src="assets/img/avatar-1.jpg" title="" alt="">
            </div>
            <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="testimonial-box">
            <div class="t-user">
                <img src="assets/img/avatar-2.jpg" title="" alt="">
            </div>
            <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="testimonial-box">
            <div class="t-user">
                <img src="assets/img/avatar-3.jpg" title="" alt="">
            </div>
            <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div>
            </div>
        </ng-template> 
    </owl-carousel-o> 
</div>