<div class="container">
    <div class="section-heading">
        <h6><span> SERVICES</span></h6>
        <h2>Design <span>services</span> I am providing</h2>
    </div>
    <div class="row gy-5">
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-01.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-brush-fill"></i>
                    </div>
                    <h5>Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-02.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-code-square"></i>
                    </div>
                    <h5>Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-03.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-speedometer2"></i>
                    </div>
                    <h5>SEO Marketing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-04.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-palette"></i>
                    </div>
                    <h5>Graphic Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>