<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/home-banner-4.png" title="" alt="banner">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>ABOUT me</span></h6>
                <h2>I AM AVAILABLE FOR <span>WEP APPLICATION</span> PROJECTS</h2>
                </div>
                <p>
                    I use tools like Spring Boot, Node.js, or NestJS to create backends, making
                    sure to follow the best practices in the industry, For the frontend I use Angular with latest best practices 
                    such as standalone components, signals, lazy loaded modules etc. To ensure the quality of my work, 
                    I conduct thorough code reviews, perform automated testing, and integrate my code continuously.
                </p>
                <p>
                    I consider all aspects of a project. This ensures that the solutions I create are scalable and easy to maintain.
                    I always strive to meet the highest industry standards in my work.</p>
                <div class="review-box">
                    <div class="r-box">
                        <h3>80<span>+</span></h3>
                    <label>Github Repos</label>
                    </div>
                    <div class="r-box">
                        <h3>4<span>+</span></h3>
                        <label>Years Experience</label>
                    </div>
                    <div class="r-box">
                        <h3>10<span>+</span></h3>
                        <label>Awward Winning</label>
                    </div>
                </div>
                <div class="btn-bar">
                    <a class="px-btn" href="#contactus"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>