<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/home-banner-6.png" title="" alt="banner">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>ABOUT me</span></h6>
                <h2>I AM AVAILABLE FOR <span>WEP APPLICATION</span> PROJECTS</h2>
                </div>
                <p>
                    I architect robust backends using <b> Spring Boot, Node.js or NestJS</b>, ensuring adherence to best practices through 
                rigorous code reviews, automated testing, and continuous integration. On the frontend, I craft intuitive interfaces with 
                <b>Angular or Thymeleaf</b>, prioritizing responsiveness and user experience while following accessibility standards and 
                    performance optimization techniques.
                    My holistic approach guarantees scalable, maintainable solutions that meet the highest industry standards.
                </p>
                <div class="review-box">
                    <div class="r-box">
                        <h3>80<span>+</span></h3>
                    <label>Github Repos</label>
                    </div>
                    <div class="r-box">
                        <h3>4<span>+</span></h3>
                        <label>Years Experience</label>
                    </div>
                    <div class="r-box">
                        <h3>10<span>+</span></h3>
                        <label>Awward Winning</label>
                    </div>
                </div>
                <div class="btn-bar">
                    <a class="px-btn" href="#contactus"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>