<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6><span>My Work</span></h6>
                <h2>RECENT PROJECT</h2>
            </div>
        </div>
    </div>
    <div class="lightbox-gallery">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                <img src="assets/img/projects/NS-3.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/NS-3.png" data-title="Caption for image 1" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Multi-Univers E-Commerce Wep Application </h5>
                    <span>Multi-Univers E-Commerce Wep Application Deveoped with Spring boot and Angular, AWS </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal" data-bs-toggle="modal" 
                        data-bs-target="#project_1"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#Angular </span>
                    <span class="hashtag">#AWS</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                <img src="assets/img/projects/markoub.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/markoub.png" data-title="Caption for image 1" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
            <h5>Markoub Bot: Multilingual AI Assistant that answer clients </h5>
                    <span>
                        This AI assistant is adept at providing responses to users.
                        Capable of interpreting  text, and voice
                    </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal" data-bs-toggle="modal" 
                        data-bs-target="#project_2"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#NodeJS </span>
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#Microservice</span>
                    <span class="hashtag">#LLMs</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                <img src="assets/img/projects/hashnode.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/hashnode.png" data-title="Caption for image 1" 
                        data-lightbox="services">
                        <i class="bi-plus"></i>
                    </a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Code Quality & Design Patterns Blogger</h5>
                        <span>I delve into topics related to code quality, with a strong focus on design patterns</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal" data-bs-toggle="modal" 
                        data-bs-target="#project_4"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#SpringSecurity </span>
                    <span class="hashtag">#JAVA</span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                <img src="assets/img/projects/hotel-1.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/hotel-1.png" data-title="Caption for image 1"
                        data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                <h5>Booking Platform That Centrelize All The Booking Process</h5> 
                    <span>The Platform manage online booking, payments, manage rooms availabilities and more.  </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal" data-bs-toggle="modal" 
                        data-bs-target="#project_5"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#MEAN </span>
                    <span class="hashtag">#Jenkins </span>
                    <span class="hashtag">#Docker</span>
                    <span class="hashtag">#Kubernetees</span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/fose-3.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/fose-3.png" data-title="Caption for image 2" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                    <h5>Restaurant System For National office Of Social Business Education Foundation</h5>
                        <span>Handling 18,000 monthly orders, and a
                            dynamic menu system allowing weekly menu structuring.</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_6"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#SpringSecurity </span>
                    <span class="hashtag">#AWS </span>
                    <span class="hashtag">#Angular17 </span>
                    <span class="hashtag">#AngularMaterial </span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/health-chain.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/health-chain.png" data-title="Caption for image 3" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>AI And Blockchain in the healthcare industry</h5>
                <span>Storing Patients Repports In Blockchain To Help Doctors To See The History Of Patients Diseases and
                    Detect Medical Errors 
                </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_8"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                 <div class="hashtags">
                    <span class="hashtag">#SpringCloud </span>
                    <span class="hashtag">#NodeJS </span>
                    <span class="hashtag">#Python </span>
                    <span class="hashtag">#Docker </span>
                    <span class="hashtag">#Angular13 </span>
                    <span class="hashtag">#BlockChain </span>
                    <span class="hashtag">#AI</span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/rental-cars.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/rental-cars.png" data-title="Caption for image 4" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Rental Cars Application Based On Microservices Architecture</h5>
                        <span>built using a microservices architecture using Spring Cloud for the backend and Angular 13</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_7"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#KAFKA </span>
                    <span class="hashtag">#GRAFANA </span>
                    <span class="hashtag">#SpringCloud </span>
                    <span class="hashtag">#SpringSecurity </span>
                    <span class="hashtag">#Docker</span>
                    <span class="hashtag">#Kubernetes</span>
                    <span class="hashtag">#Angular13 </span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                <img src="assets/img/projects/health-connect.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/health-connect.png" data-title="Caption for image 6" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Hospital Management System, Spring Boot and Flutter</h5>
                        <span>
                            Managing medical appointments, accessing patient records, and facilitating communication between 
                            doctors and patients.
                        </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_9"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#Flutter </span>
                    <span class="hashtag">#SpringCloud </span>
                    <span class="hashtag">#SpringSecurity </span>
                    <span class="hashtag">#Docker</span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/ismail-ecom.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/ismail-ecom.png" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>E-commerce Web App developed by Angular 13, Spring, keycloak</h5>
                        <span> Multiple shops for women, men, kids, and accessories.
                            Additionally, online payment solutions such as PayPal and Mastercard</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_10"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#SpringSecurity </span>
                    <span class="hashtag">#Angular13 </span>
                    <span class="hashtag">#Keycloak</span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/ajitkri.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/ajitkri.png" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>AJI TKRI, Made with Spring boot, Angular Application  </h5>
                    <span>Side Project that help student book an appartments, rommate and best place to live </span> 
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_11"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#SpringBoot </span>
                    <span class="hashtag">#Angular12 </span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/socket-programming.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/socket-programming.png" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>I developed session and network layer of the OSI model</h5>
                        <span>
                            The purpose of this project is to understand deeply what's happening behind the scenes on OSI model</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_12"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#C </span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/c-compiler.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/c-compiler.png" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                    <h5>Create a Compiler with C Language</h5>
                        <span>This Compiler can help new students to execute their pseudo code with French Keywords  </span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_13"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#C </span>
                  </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/projects/avenir-pesstige.png" title="" alt="">
                    <a class="gallery-link" href="assets/img/projects/avenir-pesstige.png" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Avenir Prestige Website buit with WordPress</h5>
                    <span>I manage ,seo, security, maintainance of the website</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_14"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="hashtags">
                    <span class="hashtag">#Wordpress </span>
                  </div>
            </div>
        </ng-template>

    </owl-carousel-o>
</div>
</div>