<main class="wrapper" id="scroll-container">
  <section id="home" spyTarget="home" class="spy-section home-section">
    <app-home></app-home>
  </section>
  <section class="brand-section gray-bg">
    <app-brands></app-brands>
  </section>
  <section
    id="about"
    spyTarget="about"
    class="spy-section about-section section"
  >
    <app-about></app-about>
  </section>

  <section
    id="project"
    spyTarget="project"
    class="spy-section project-section section gray-bg"
  >
    <app-work></app-work>
  </section>

  <!-- <section id="services" spyTarget="services" class="spy-section section">
    <app-services></app-services>
  </section> -->

  <section class="section gray-bg">
    <app-experience></app-experience>
  </section>

  <section class="section effect-section pb-0">
    <app-testimonials></app-testimonials>
  </section>

  <section
    id="contactus"
    spyTarget="contactus"
    class="spy-section section contactus-section"
  >
    <app-contact></app-contact>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="m-0 text-center">© 2023 copyright all right reserved</p>
    </div>
  </footer>
  <a href="#home" id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
  <!-- End Footer -->
</main>
<!-- Snigle 1 -->
<div
  class="modal fade"
  id="project_1"
  tabindex="-1"
  aria-labelledby="project_1"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/NS-3.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>Multi-Univers E-Commerce Wep Application</h4>
              <p class="mb-3"><a href="https://www.youtube.com/watch?v=whl0cVdDJMc">https://www.youtube.com/watch?v=whl0cVdDJMc</a></p>

              <p class="mb-3">
                • Developed a scalable Spring Boot platform for meal selection
                and order management, handling 18,000 monthly orders, and
                implemented a dynamic menu system allowing weekly menu
                structuring and customer-specific meal choices.
                <br />
                • Integrated a secure payment system with advanced financial
                tracking and traceability, enhancing user transaction security
                and budget management.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Platform</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >Java 17, Spring Boot 3 LST, Angular 16 LST, Docker, AWS
                      EC2, AWS Lambda, CloudFront, S3, AWS API Gateway</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Features:</span>
                    <span
                      >Meal selection and order management, dynamic menu system,
                      secure payment system, financial tracking, user
                      transaction security, budget management</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Optimizations:</span>
                    <span
                      >Database refinement, frontend enhancements (lazy loading,
                      gzip compression, standalone components, signals), AWS
                      Lambda optimization with S3 for image storage</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Monthly Orders:</span>
                    <span>18,000</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 1 -->

<!-- Snigle 2 -->
<div
  class="modal fade"
  id="project_2"
  tabindex="-1"
  aria-labelledby="project_2"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/markoub.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                Markoub Bot: Multilingual AI Assistant that answer clients
              </h4>
              <p class="mb-3">
                Markoub Bot is an advanced multilingual AI assistant designed to
                respond to clients effectively.
              </p>
              <p>
                It excels in interpreting both text and voice inputs, offering
                accurate and helpful responses across multiple languages.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Platform</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >Node.js, Java, Azure, Docker, Microservices, WebSocket,
                      WhatsApp, Spring Boot, GPT, LLMs</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Architecture:</span>
                    <span>Microservices</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Cloud Platform:</span>
                    <span>Azure</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Communication:</span>
                    <span>WhatsApp</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Containerization:</span>
                    <span>Docker</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 2 -->
<!-- Snigle 3 -->
<!-- <div
  class="modal fade"
  id="project_3"
  tabindex="-1"
  aria-labelledby="project_3"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/popup-project-1.jpg"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>Website Design for Marketing Agency Startup</h4>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Website</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Langages:</span>
                    <span>PHP, HTML, CSS, JS</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Platform:</span>
                    <span>WordPress</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Country:</span>
                    <span>USA</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Live URL:</span>
                    <span>www.example.com</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Snigle 3 -->
<!-- Snigle 4 -->
<div
  class="modal fade"
  id="project_4"
  tabindex="-1"
  aria-labelledby="project_4"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/hashnode.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>SOFTWARE QUALITY BLOGGER | Hashnode</h4>
              <p class="mb-3">
                <a href="https://ismailharik.hashnode.dev/" target="_blank"
                  >https://ismailharik.hashnode.dev</a
                >
              </p>
              <p>
                Through my blog posts, I delve into topics related to code
                quality, with a strong focus on design patterns. Writing about
                these subjects not only allows me to share my knowledge with the
                programming community but also helps me enrich my skills and
                gain a deeper understanding of the topics I blog about.
              </p>
              <p>
                By thoroughly researching and exploring different design
                patterns, I continuously expand my expertise and stay up-to-date
                with the latest industry practices. Through my blog, I strive to
                inspire fellow developers to adopt these best practices and
                elevate the quality of their code.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Blogs</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Langages:</span>
                    <span>JAVA</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 4 -->
<!-- Snigle 5 -->
<div
  class="modal fade"
  id="project_5"
  tabindex="-1"
  aria-labelledby="project_5"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/hotel-1.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>INTERNSHIP - MEAN STACK DEVELOPER</h4>
              <p class="mb-3"><a href="https://www.youtube.com/watch?v=_zZOYTNiQwI">https://www.youtube.com/watch?v=_zZOYTNiQwI</a></p>
              <p>
                <b>Client Interface:</b> Enabled users to seamlessly browse
                available rooms, gaining real-time insights into room status.
                Implemented features for users to execute online reservations,
                integrating payment gateways for PayPal and MasterCard
                transactions.
              </p>
              <p>
                <b>Admin Interface:</b> Equipped administrators with tools to
                efficiently manage room allocations, bookings, and customer
                inquiries. Integrated layered authority measures, ensuring data
                integrity and role-specific access.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Internshi</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >MongoDB, NodeJS(typescript), Angular, Express, Docker,
                      Jenkins, AWS</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 5 -->
<!-- Snigle 6 -->
<div
  class="modal fade"
  id="project_6"
  tabindex="-1"
  aria-labelledby="project_6"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/fose-3.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>FULL STACK DEVELOPER JAVA/ANGULAR, AWS</h4>
              <p class="mb-3">
                Developed a scalable Spring Boot platform for meal selection and
                order management, handling 18,000 monthly orders, and
                implemented a dynamic menu system allowing weekly menu
                structuring and customer-specific meal choices
              </p>
              <p>
                Integrated a secure payment system with advanced financial
                tracking and traceability, enhancing user transaction security
                and budget management.
              </p>
              <p>
                Utilized a robust tech stack including Java 17, Spring Boot 3
                LST, Angular 16 LST, and Docker.AWS EC2, AWS lambda, cloudFront,
                S3, AWS API gateway Optimized performance through database
                refinement, frontend enhancements (lazy loading, gzip
                compression, standalone components, signals), and AWS Lambda
                optimization with S3 for image storage.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Part-Time</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span>Java, Spring Boot, Angular, Docker, AWS</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 6 -->

<!-- Snigle 7 -->
<div
  class="modal fade"
  id="project_7"
  tabindex="-1"
  aria-labelledby="project_7"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/rental-cars.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                Rental Cars Application Based On Microservices Architecture
              </h4>
              <p class="mb-3"> <a href="https://www.youtube.com/watch?v=SjwAfaMUZKg&t=551s">https://www.youtube.com/watch?v=SjwAfaMUZKg&t=551s</a></p>
              <p class="mb-3">
                Designed and implemented a microservices-based architecture that
                makes the application highly efficient, flexible, and resilient,
                allowing it to handle large volumes of traffic while maintaining
                an excellent user experience.
              </p>
              <p>
                Created multiple search filters for users to find the ideal
                rental car, improving the application’s usability and
                convenience.
              </p>
              <p>
                Developed a dashboard that helps the owner easily manage
                resources and track rent evolution through multiple charts,
                enhancing their business operations and decision-making.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Internship</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >Jpring Cloud 2022.0.0-RC2, Spring Security Keycloak,
                      Docker Docker-compose, and Angular 13 to develop and
                      deploy the application</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 7 -->

<!-- Snigle 8 -->
<div
  class="modal fade"
  id="project_8"
  tabindex="-1"
  aria-labelledby="project_8"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/health-chain.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                AI and block chain technology in the healthcare industry
              </h4>
              <p class="mb-3"> <a href="https://www.youtube.com/watch?v=ydEqZ5ba3jU">https://www.youtube.com/watch?v=ydEqZ5ba3jU</a> </p>
              <p>
                The project's subject prompted me to contemplate hospitals that
                centralize their data, which can result in challenges when it
                comes to identifying medical errors and preventing malpractice,
                particularly as these issues become more prevalent in my
                entourage.
              </p>

              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>National Contest</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >Spring Cloud, Angular 13, NodeJS, Python,Blockchain,
                      Docker
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 8 -->

<!-- Snigle 9 -->
<div
  class="modal fade"
  id="project_9"
  tabindex="-1"
  aria-labelledby="project_9"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/health-connect.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>Hospital Management System, Spring Boot and Flutter</h4>
              <p class="mb-3"> <a href="https://www.youtube.com/watch?v=66Mf1jswldg">https://www.youtube.com/watch?v=66Mf1jswldg</a></p>
              <p >
                Health Connect is a full-stack application that aims to connect
                doctors and patients in a seamless and efficient manner. The
                application provides a user-friendly interface for managing
                medical appointments, accessing patient records, and
                facilitating communication between doctors and patients.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Personal Project</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >springboot, flutter, mongodb, springsecurity, docker,
                      dockercompose, jibbuild, zipKin, openapi
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 9 -->

<!-- Snigle 10 -->
<div
  class="modal fade"
  id="project_10"
  tabindex="-1"
  aria-labelledby="project_10"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/ismail-ecom.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                Full stack E-commerce Web App developed by Angular 13, Spring,
                keycloak
              </h4>
              <p class="mb-3"><a href="https://www.youtube.com/watch?v=whl0cVdDJMc">https://www.youtube.com/watch?v=whl0cVdDJMc</a></p>
              <p class="mb-3">
                • During my internship, I had the opportunity to develop an
                E-commerce application that offered customers a seamless
                shopping experience. The application featured multiple shops for
                women, men, kids, and accessories. 
              </p>
              <p>
                • I integrated online payment
                solutions such as PayPal and Mastercard to facilitate secure and
                convenient transactions.
              </p>
              <p>
                • I created an admin dashboard to empower the store owner in managing products,customers, 
                and orders efficiently. 
              </p>
              <p>
                • The admin dashboard included various tools, including sales charts, to track the
                  business’s performance over time and gain valuable insights for
                  informed decision-making.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Internship</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span> Spring Boot, Spring Security, Keycloak, and Angular.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 10 -->

<!-- Snigle 11 -->
<div
  class="modal fade"
  id="project_11"
  tabindex="-1"
  aria-labelledby="project_11"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/ajitkri.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                AJI TKRI, Made with Spring boot, Angular Application
              </h4>
              <p class="mb-3">
                Side Project that help student book an appartments, rommate and best place to live.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Internship</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span> Spring Boot, Spring Security, Keycloak, and Angular.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 11 -->

<!-- Snigle 12 -->
<div
  class="modal fade"
  id="project_12"
  tabindex="-1"
  aria-labelledby="project_12"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/socket-programming.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                I developed session and network layer of the OSI model
              </h4>
              <p class="mb-3">
                I utilized socket programming and the C language for this school project, which was carried out at ENSAB 
                under the guidance of Dr. Halim Hnini. The main objective of the project was to implement the CRC 
                algorithm. 
              </p>
              <p>
                I began by creating the CRC algorithm using C language, and then proceeded to integrate the 
                code into both the client and server files. Additionally,
                I developed a router file that encompassed the functionalities of both the client and server.</p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Personal Project</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span> C, Socket Programming</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 12 -->

<!-- Snigle 13 -->
<div
  class="modal fade"
  id="project_13"
  tabindex="-1"
  aria-labelledby="project_13"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/c-compiler.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                Create a Compiler with C Language
              </h4>
              <p class="mb-3">
                This Compiler can help new students to execute their pseudo code with French Keywords. 
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Personal Project</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span> C</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 13 -->

<!-- Snigle 14 -->
<div
  class="modal fade"
  id="project_14"
  tabindex="-1"
  aria-labelledby="project_14"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/avenir-pesstige.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>
                Avenir Prestige Website buit with WordPress
              </h4>
              <p class="mb-3">
                I manage SEO, security, and maintenance of the website.
              </p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Personal Project</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span> WordPress</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 14 -->


<!-- Snigle 15 -->
<div
  class="modal fade"
  id="project_15"
  tabindex="-1"
  aria-labelledby="project_15"
  aria-hidden="true"
>
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="single-project-box">
          <div class="row align-items-start">
            <div class="col-lg-7">
              <img
                class="border"
                src="assets/img/projects/propsion.png"
                title=""
                alt=""
              />
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0">
              <h4>Property Management Platform</h4>

              <p class="mb-3">
                The platform offers a wide range of functionalities, including rent and bill management, 
                repair requests, and communication tools. 
              </p>
              <p>Tenants can easily view and pay their bills, track payment history, 
                and request repairs or maintenance services. Property managers benefit from efficient tools 
                for managing tenant accounts, scheduling inspections, and overseeing property maintenance.
              </p>
              <p>The Propson project aims to improve the overall efficiency and transparency of property management, 
                providing a user-friendly interface and robust features to meet the needs of both tenants and 
                property managers.</p>
              <div class="about-content">
                <ul>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Type:</span>
                    <span>Platform</span>
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Technologies:</span>
                    <span
                      >MongoDB, Express.js, React.js, Node.js, Docker, Kubernetees, Gitlab CI/CD</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Features:</span>
                    <span
                      >Meal selection and order management, dynamic menu system,
                      secure payment system, financial tracking, user
                      transaction security, budget management</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Optimizations:</span>
                    <span
                      >Database refinement, frontend enhancements (lazy loading,
                      gzip compression, standalone components, signals), AWS
                      Lambda optimization with S3 for image storage</span
                    >
                  </li>
                  <li class="d-flex">
                    <span class="col-4 col-lg-3">Monthly Orders:</span>
                    <span>18,000</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 1 -->