<main class="wrapper" id="scroll-container">

  <section id="home" spyTarget="home"  class="spy-section home-section">
        <app-home></app-home>
    </section>
    <section class="brand-section gray-bg">
      <app-brands></app-brands>
  </section>
    <section id="about" spyTarget="about" class="spy-section about-section section">
       <app-about></app-about>
    </section>
  
    <section id="project" spyTarget="project" class="spy-section project-section section gray-bg">
      <app-work></app-work>
    </section>

    <section id="services" spyTarget="services"  class="spy-section section">
      <app-services></app-services>
  </section>

    <section class="section gray-bg">
      <app-experience></app-experience>
    </section>

    <section class="section effect-section pb-0">
        <app-testimonials></app-testimonials>
    </section>

    <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section>
   
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p class="m-0 text-center">© 2023 copyright all right reserved</p>
      </div>
  </footer>
    <a href="#home"  id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer --> 
</main>
   <!-- Snigle 1 -->
  <div class="modal fade" id="project_1" tabindex="-1" aria-labelledby="project_1" aria-hidden="true">
    <div class="modal-dialog px-modal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Snigle 1 -->
<!-- Snigle 2 -->
<div class="modal fade" id="project_2" tabindex="-1" aria-labelledby="project_2" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Website Design for Marketing Agency Startup</h4>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Website</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>PHP, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Platform:</span>
                              <span>WordPress</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>USA</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>www.example.com</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 2 -->
<!-- Snigle 3 -->
<div class="modal fade" id="project_3" tabindex="-1" aria-labelledby="project_3" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Website Design for Marketing Agency Startup</h4>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Website</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>PHP, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Platform:</span>
                              <span>WordPress</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>USA</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>www.example.com</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 3 -->
<!-- Snigle 4 -->
<div class="modal fade" id="project_4" tabindex="-1" aria-labelledby="project_4" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Website Design for Marketing Agency Startup</h4>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Website</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>PHP, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Platform:</span>
                              <span>WordPress</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>USA</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>www.example.com</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 4 -->
<!-- Snigle 5 -->
<div class="modal fade" id="project_5" tabindex="-1" aria-labelledby="project_5" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Website Design for Marketing Agency Startup</h4>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Website</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>PHP, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Platform:</span>
                              <span>WordPress</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>USA</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>www.example.com</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 5 -->
<!-- Snigle 6 -->
<div class="modal fade" id="project_6" tabindex="-1" aria-labelledby="project_6" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Website Design for Marketing Agency Startup</h4>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Website</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>PHP, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Platform:</span>
                              <span>WordPress</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>USA</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>www.example.com</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 6 -->