<div class="container">
  <div class="section-heading">
    <h6><span>Experience</span></h6>
    <h2>My Work <span>Experience</span></h2>
  </div>
  <div class="row gy-3">
    <div class="col-12">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-md-4 col-lg-3">
            <div class="ex-left">
              <h4>Backend NodeJS Developer</h4>
              <span>Propsion | Remote</span>
              <p>Jan 2023 - Present</p>
              <label>Freelance</label>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="ex-right">
              <h5>
                Buiding a property management platform
              </h5>
              <p class="m-0">
                I contributed to improve the overall quality and performance of the existing codebase. 
                My primary responsibilities included developing new features and enhancing existing functionalities 
                to meet the evolving needs of the platform.
              </p>
              <p>I documented the backend using BPMN and Swagger, ensuring clarity and ease of use for other developers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-md-4 col-lg-3">
            <div class="ex-left">
              <h4>FULL STACK DEVELOPER JAVA, ANGULAR, AWS</h4>
              <span>FOSE Maroc | Remote</span>
              <p>Dec 2023 - May 2024</p>
              <label>Freelance</label>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="ex-right">
              <h5>
                Innovative Menu Management Platform for Government Institutions
              </h5>
              <p class="m-0">
                This platform allows employees to have a say in what they eat by
                suggesting a variety of daily plate options and ranking them
                based on priority. It manage also employees payment based on
                diffrents ladders. Managers can then use this information to
                curate menus that cater to employee preferences, ensuring that
                the right quantities of food are prepared. The system also
                provides valuable analytics that help admins and managers the
                quanity of products required in a specific date, the revenue and
                profit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-md-4 col-lg-3">
            <div class="ex-left">
              <h4>FULL STACK DEVELOPER JAVA, ANGULAR, AWS</h4>
              <span>NobleSense | Remote</span>
              <p>May 2023 - Dec 2023 </p>
              <label>Freelance</label>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="ex-right">
              <h5>Buit Multi-Univers E-Commerce Wep Application</h5>
              <p class="m-0">
                • During my internship, I had the opportunity to develop a multi merchants E-commerce application that 
                offered customers a seamless shopping experience. The application featured multiple shops for women, men, kids, and accessories. <br>
                • I integrated online payment solutions such as PayPal and Mastercard to facilitate secure and convenient transactions.  <br>
                Additionally, I created an admin dashboard to empower the store owner in managing products, customers, and orders efficiently. <br>
                • The admin dashboard included various tools, including sales charts, to track the business’s performance over time and gain 
                valuable insights for informed decision-making. <br>
                • Tools Techs : Spring Boot, Spring Security, Keycloak, and Angular to build the application, ensuring a robust and user-friendly experience.
                A demo of the project is available for demonstration purposes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-md-4 col-lg-3">
            <div class="ex-left">
              <h4>SOFTWARE QUALITY BLOGGER</h4>
              <span>Hashnode | Remote</span>
              <p>2023 - Present</p>
              <label>Part Time</label>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="ex-right">
              <h5>I write about design patterns, code quality etc.</h5>
              <p class="m-0">
                Through my blog posts, I delve into topics related to code
                quality, with a strong focus on design patterns. By thoroughly
                researching and exploring different design patterns, I
                continuously expand my expertise and stay up-to-date with the
                latest industry practices. Through my blog, I strive to inspire
                fellow developers to adopt these best practices and elevate the
                quality of their code
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-md-4 col-lg-3">
            <div class="ex-left">
              <h4>MEAN STACK DEVELOPER</h4>
              <span>MustaPro | </span>
              <p>07/2023 - 09/2023</p>
              <label>Internship</label>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="ex-right">
              <!-- <h5>Hotel Booking platform buit with MEAN stack</h5>
              <p class="m-0">
                • <b>Client Interface:</b> Enabled users to seamlessly browse
                available rooms, gaining real-time insights into room status.
                Implemented features for users to execute online reservations,
                integrating payment gateways for PayPal and MasterCard
                transactions. <br />
                • <b>Admin Interface:</b> Equipped administrators with tools to
                efficiently manage room allocations, bookings, and customer
                inquiries. Integrated layered authority measures, ensuring data
                integrity and role-specific access.
              </p> -->
              <h5>A MODERN AND SECURE RENTAL CARS APPLICATION BASED
                ON MICROSERVICES ARCHITECTURE</h5>
              <p class="m-0">
                • Designed and implemented a microservices-based architecture that
                makes the application highly efficient, flexible, and resilient, allowing it to
                handle large volumes of traffic while maintaining an excellent user
                experience. <br>
                • Created multiple search filters for users to find the ideal rental car,
                improving the application’s usability and convenience. <br>
                • Developed a dashboard that helps the owner easily manage resources
                and track rent evolution through multiple charts, enhancing their
                business operations and decision-making. <br>
                • Tools used: Spring Cloud 2022.0.0-RC2, Spring Security Keycloak,
                Docker Docker-compose, and Angular 13 to develop and deploy the
                application.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
