<div class="container">
    <div class="section-heading">
        <h6><span>Experience</span></h6>
        <h2>My Work <span>Experience</span></h2>
    </div>
    <div class="row gy-3">
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Front-end Developer</h4>
                            <span>WeLab | Remote</span>
                            <p>Jan 2019 - Present</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>About Company</h5>
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Front-end Developer</h4>
                            <span>WeLab | Remote</span>
                            <p>Jan 2019 - Present</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>About Company</h5>
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Front-end Developer</h4>
                            <span>WeLab | Remote</span>
                            <p>Jan 2019 - Present</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>About Company</h5>
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>