<div class="container">
    <div class="contactus-box rounded oveflow-hidden gray-bg">
        <div class="row g-0 p-4 p-lg-5">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="contactus-title">
                    <h5>Let’s Discuss Your Project</h5>
                    <p class="m-0">Always available for freelancing if the right project comes along, Feel free to contact me.</p>
                </div>
            </div>
        </div>
        <div class="row g-0 contactus-form p-4 p-lg-5 flex-row-reverse">
            <div class="col-lg-8">
                <div class="contact-form">
                    <form id="contact-form" method="POST">
                        <div class="row gx-3 gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">First name</label>
                                    <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Your Email</label>
                                    <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Subject</label>
                                    <input name="Subject" id="subject" placeholder="Subject *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Your message</label>
                                    <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn w-100" type="button" value="Send"> Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 pe-md-5">
                <div class="contact-banner d-none d-lg-block">
                    <img src="assets/img/contact-us.png" title="" alt="">
                </div>
                <div class="contact-info">
                    <div class="contact-info-in">
                        <label>write an e-mail</label>
                        <a href="mailto:sample@domain.com">sample@domain.com</a>
                    </div>
                    <div class="contact-info-in">
                        <label>write an e-mail</label>
                        <a href="tel:+044969696963636">+044 9696 9696 3636</a>
                    </div>
                </div>
                <div class="social-icon">
                    <a class="facebook" href="javascript:"><i class="fab fa-facebook-f"></i></a>
                    <a class="dribbble" href="javascript:"><i class="fab fa-dribbble"></i></a>
                    <a class="linkedin" href="javascript:"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>