<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <div class="hs-text-box">
                <h6><span>Ismail Harik</span></h6>
                <h1>Hay! I’m Ismail</h1>
                <h2>I'm a <span class="typed-element"></span></h2>
                <p class="text">
                I am a highly skilled and experienced Software Engineer specializing in Java JEE, Spring, Spring Cloud, Javascript, Typescripy, NodeJS, Angular, and AWS Services.
                With my expertise, I offer professional web development services to create robust, scalable, and high-performing web applications.
                </p>
                <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
                    <a class="px-btn" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                    <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                        <a class="facebook" href="javascript:"><i class="fab fa-facebook-f"></i></a>
                        <a class="dribbble" href="javascript:"><i class="fab fa-dribbble"></i></a>
                        <a class="linkedin m-0" href="javascript:"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="hs-banner">
                <!-- <img src="assets/img/home-banner-7.png" title="" alt="" > -->
                <img src="assets/img/home-banner-7.png" title="" alt="" style="border-radius: 50%">
            </div>
        </div>
    </div>
</div>